{%if site.disqus %}
<div id="disqus_thread"></div>
<script>
 /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
 var disqus_shortname = "{{ site.disqus }}"; // required: replace example with your forum shortname

 var disqus_config = function () {
     this.page.url = "//{{ site.host }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
 };

 /* * * DON'T EDIT BELOW THIS LINE * * */
 (function() {
     var d = document, s = d.createElement('script');
     s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
     s.setAttribute('data-timestamp', +new Date());
     (d.head || d.body).appendChild(s);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
